/*

Example CSS file for creating tabs using tabs.js.
Created by Rob Allen (rob at akrabat dot com)
Based on the CSS code from Silverorange Labs at :
http://labs.silverorange.com/archives/2003/september/simplecsstabs

*/

.tab-content legend {
	/*display: none !important;*/
}


.tab-header {
	position: relative;
	height: 3em;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.tab-header ul.tab-list {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
}

.tab-header ul.tab-list li  {
	display: inline;
	list-style: none;
	margin: 0;
}

.tab-header ul.tab-list a,.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active {
	width: 10em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
    border-radius: 5px;
}


.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active,.tab-header ul.tab-list a.tab-active:hover {
	border: 1px solid #666;
	background: #F3F3F3;
	color: black;
	padding-bottom: 6px;
	margin-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;z
}



/* a link in a background tab */
.tab-header ul.tab-list a {
	background: #999999;
	border: 1px solid #AAA;
    color: white;
}

/* hover on a background tab */
.tab-header ul.tab-list a:hover {
	margin-top: 0;
	border-color: #666;
	background: #bbb;
	color: #000000;
	padding-bottom: 5px;
}

.tab  /* the heading that became the li */
{
	display: none;
}
